<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Slingshot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Slingshot.Properties.Settings>
            <setting name="MutationRate" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CrossoverRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PopulationSize" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Duration" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="SelectionPressure" serializeAs="String">
                <value>10</value>
            </setting>
        </Slingshot.Properties.Settings>
    </userSettings>
</configuration>